<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>自动旋转的太极.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16779B821DEFFC7B00555B6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16779B9B1DEFFC7B00555B6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16779BA61DEFFC7B00555B6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
